.idea/
coil_data/
*__pycache__/
.ipynb_checkpoints/
summary/
model/
__pycache__
*summary*
.DS_Store
data/
depp_distance/
core*
build/
depp.egg-info/
depp1.egg-info/
dist/
upload.sh
depp/*.split.py
*/*bak*
*swp
depp_test.egg-info/
